{% extends "admin/adminLayout.twig" %}

{# head #}
{% block title %}
    Administration du blog
{% endblock %}

{# body #}
{% block headerTitle %}
    <h1>Administration du blog</h1>
{% endblock %}

{% block content %}
    <section id="blog-admin">

        {% include "message.twig" %}

        {% if 'moderator' in roles %}
            {# Comments #}
            {% include 'admin/commentsList.twig' %}
            <hr>
        {% endif %}

        {# Posts#}
        {% include 'admin/postsList.twig' %}

        <hr>

        {% if 'editor' in roles %}
            {# Categories #}
            {% include 'admin/categoriesList.twig' %}

            <hr>

            {# Tags #}
            {% include 'admin/tagsList.twig' %}
        {% endif %}

        <hr>

        {% if 'admin' in roles %}
            {# Member management #}
            {% include 'admin/membersList.twig' %}
        {% endif %}

    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        myBlogAdmin.setTagEventListeners();
    </script>
{% endblock %}