<div class="admin-box">
    <h2>Catégories</h2>

    {# Add a category button #}
    <p>
        <a class="btn" href="/admin/category-editor">Ajouter une catégorie</a>
    </p>

    <div class="limit-height">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Catégorie</th>
                <th>Etiquettes associées</th>
            </tr>
            </thead>

            <tbody>
            {% for category in categories %}
                <tr>
                    <td>
                        <form action="/admin/category-editor" method="post">
                            <input type="hidden" name="category-id" value="{{ category.getId() }}">
                            <input class="available-category admin-link" type="submit" value="{{ category.getName() }}">
                        </form>
                    </td>
                    <td>
                        {% set categoryTags = category.getTags() %}
                        {% if categoryTags %}
                            {% for tag in categoryTags %}
                                <span class="table-tag">#{{ tag.getName }}</span>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>