
td, th {
    font-size: 0.75em;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0 10px 0;
}

input[type='text'], textarea {
    border-radius: 10px;
    border: 1px solid lightslategrey;
    box-sizing: border-box;
    padding: 10px;
}

footer {
    background-color: #0c5460;
    color: white;
}

footer ul li a, footer ul li a:hover {
    color: white;
}

.content {
    max-width: unset;
}

.admin-header {
    background-color: #0c5460;
    color: white;
    padding: 150px 0;
}

.btn, .btn:visited {
    background-color: lightslategrey;
    color: rgb(237, 237, 237);
    border-radius: 10px;
    border: none;
    margin: 5px;
    text-decoration: none;
}

.btn:hover {
    color: rgb(237, 237, 237);
    background-color: #0073AA;
}

.admin-link {
    color: #0073aa;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
}

.admin-link:hover {
    cursor: pointer;
    color: #00BFEE;
}

.admin-box {
    margin: 50px 0;
}

.table-tag {
    color: #5a6268;
}

.table-date {
    color: #5a6268;
}

.admin-tag {
    text-align: left !important;
    color: #0073aa;
    font-size: 0.75em;
}

.admin-tag:hover {
    color: #00BFEE;
}

.underline-input {
    border-top: 0 !important;
    border-left: 0 !important;;
    border-right: 0 !important;;
}

.btn {
    font-weight: normal;
}

.editor-info {
    font-size: 0.75em;
    color: #b9bbbe;
}

#new-tag-input {
    font-size: 0.75em;
}