body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 237, 237);
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: lightslategrey;
    color: rgb(237, 237, 237);
}

footer {
    text-align: center;
    color: rgb(237, 237, 237);
    background-color: dimgrey;
    padding: 50px;
}

footer a:link, footer a:visited {
    color: rgb(237, 237, 237);
}

h2, h3, h4, h5, h6 {
    color: chocolate;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0 10px 0;
}

label {
    color: chocolate;
    font-size: 1.15em;
}

a, a:visited {
    text-decoration: none;
    color: chocolate;
}

td, th {
    padding: 5px 20px;
}

input[type='text'], textarea {
    border-radius: 10px;
    border: 1px solid lightslategrey;
    box-sizing: border-box;
    padding: 10px;
}

/*
    id
    --
*/
#post-tags-wrapper {
    margin: 0 0 20px 0;
}

#new-tag-wrapper {

}

#blog-admin {
    display: flex;
    flex-wrap: wrap;
}


/*
    class
    -----
*/
.w100 {
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 1300px;
}

/* postDeck.twig */

.card {
    padding: 0 20px 0 20px;
    margin: 20px;
    border: 1px solid grey;
    width: 200px;
    background-color: white;
    border-radius: 5px;
}

.card-content {

}

.card-info {
    padding: 10px 0 10px 0;
    font-size: 0.75em;
    color: burlywood;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-deck-title {
    text-align: center;
}

/* blog.twig */

.post-wrapper {
    text-align: center;
    margin: 20px;
}

.post-title {
    margin: 10px 0 0 0;
}

.post-excerpt {

}

.post-info {
    padding: 10px 0 10px 0;
    font-size: 0.75em;
    color: burlywood;
}

/* blogPost.twig */

.blogpost {
    padding: 50px 0;
}

.blogpost-title {
    color: chocolate;
}

.blogpost-content {

}

.blogpost-info {
    padding: 10px 0;
    font-size: 0.75em;
    color: burlywood;
}

.blogpost-tags {
    padding: 10px 0;
    font-size: 0.75em;
    color: burlywood;
}

.blogpost-navigation ul {
    display: flex;
}

.blogpost-navigation ul li {
    margin: 0 50px 0 0;
    list-style-type: none;
}

/* blogAdmin.twig */

.admin-input, .admin-textarea {
}

.btn, .btn:visited {
    background-color: lightslategrey;
    color: rgb(237, 237, 237);
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}

.btn:hover {
    cursor: pointer;
}

.btn-small {
    font-size: 0.75em;
    padding: 5px 10px;
}

.admin-blogpost-title {
    border: none;
    background-color: transparent;
    color: chocolate;
    font-weight: bold;
    font-size: 1em;
}

.admin-blogpost-title:hover {
    cursor: pointer;
}

.admin-box {
    margin: 20px;
}

.available-tag {
    color: chocolate;
    padding: 5px;
}

.available-category {
    color: chocolate;
    font-weight: bold;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.available-category:hover {
    cursor: pointer;
}

/* postEditor.twig */

.post-editor-box {
    margin: 20px;
}

.tag-input {
    border-radius: 10px;
    border: 1px solid lightslategrey;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
}

/* message.twig */

.message {
    text-align: center;
    background-color: #ddddff;
    color: lightslategrey;
    padding: 30px 0;
}

.message:hover {
    cursor: pointer;
}

.closing-cross {
    font-weight: bold;
    border: 1px solid lightslategrey;
    background-color: rgb(237, 237, 237);
    color: lightslategrey;
    border-radius: 50%;
    padding: 0 7px 2px 7px;
    margin: 5px;
}

.closing-cross:hover {
    cursor: pointer;
}

/* common */
.bad {
    background-color: #dd4444;
    color: whitesmoke;
}