
/* Common */

a, p a, a:hover {
    text-decoration: none;
}

.post-nav-link {
    color: burlywood;
}

.post-nav-link:hover {
    color: #0c5460;
}

.content {
    margin: 50px auto;
    width: 90%;
    max-width: 1500px;
}

.w100 {
    width: 100%;
}

.sign-btn {
    font-size: 1.5em;
    padding: 0 14px 2px 15px;
    border-radius: 100%;
}

.sign-btn-small {
    font-size: 1em;
    padding: 0 7px 0px 7px;
    border-radius: 100%;
}

.bad {
    background-color: #dd4444 !important;
    color: white !important;
}

.right-label {
    padding-left: 5px;
}

.green {
    color: #1c7430 !important;
}

.btn-primary {
    border-radius: 5px;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

#mainNav.is-fixed {
    position: fixed;
    top: -87px;
}

/* message.twig */

.message {
    margin: 0;
    padding: 10px 0;
    color: #0c5460;
}

.message:hover {
    cursor: pointer;
}

.message-form {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}

#message-wrapper {
    background-color: #ddddff;
}

/* home.twig */

.home-category {
    margin-bottom: 50px;
}

/* postDeck.twig */

.card-deck {
    padding: 10px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    border: 10px solid rgb(247, 247, 247);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.card-deck-title {
    text-align: center;
    padding-bottom: 5px;
}

.card {
    margin: 15px;
    min-width: 200px;
}

.card-body {
    font-size: 0.75em;
}

.card-title {
    margin-bottom: 5px;
}

.card-text {
    margin: 10px 0;
}

.card-info {
    margin-top: 10px;
    font-size: 0.75em;
    color: burlywood;
}

/* blogPost.twig */

.blogpost-classification, .blogpost-classification a {
    margin-bottom: 30px;
    color: burlywood;
}

@media all and (max-width: 576px) {

    .content {
        width: 100%;
    }

    .card-deck {
        padding: 2px;
        border: 2px solid rgb(247, 247, 247);
    }

}