
/* Common */

a, p a, a:hover {
    text-decoration: none;
}

pre, code {
    background-color: #5a6268;
    color: whitesmoke;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.75em;
}

dt {
    font-weight: normal;
    margin: 10px 0;
}

dd {
    margin-left: 10px;
    padding-left: 10px;
    border-left: #b9bbbe 2px solid;
}

blockquote {
    margin-left: 75px;
    border-left: #868e96 2px solid;
    padding-left: 10px;
}

blockquote p {
    text-align: justify;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

footer {
    padding: 50px 0;
}

.post-nav-link {
    color: burlywood;
}

.post-nav-link:hover {
    color: #0c5460;
}

.content {
    margin: 50px auto;
    width: 90%;
    max-width: 1500px;
}

.w100 {
    width: 100%;
}

.limit-height {
    max-height: 700px;
    overflow: auto;
}

.sign-btn {
    font-size: 1.5em;
    padding: 0 14px 2px 15px;
    border-radius: 100%;
}

.sign-btn-small {
    font-size: 1em;
    padding: 0 7px 0px 7px;
    border-radius: 100%;
}

.bad {
    background-color: #dd4444 !important;
    color: white !important;
}

.right-label {
    padding-left: 5px;
}

.green {
    color: #1c7430 !important;
}

.btn-primary {
    border-radius: 5px;
}

.small-link-wrap {
    margin: 0 0 10px 10px;
}

.small-link-wrap a {
    font-size: 0.75em;
    color: #5a6268;
}

.small-link-wrap a:hover {
    color: #0c5460;
    text-decoration: underline;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

#mainNav.is-fixed {
    position: fixed;
    top: -87px;
}

/* message.twig */

.message {
    margin: 0;
    padding: 10px 0;
    color: #0c5460;
}

.message:hover {
    cursor: pointer;
}

.message-form {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}

#message-wrapper {
    background-color: #ddddff;
    margin: 20px 0;
}

/* home.twig */

.home-category {
    margin-bottom: 50px;
}

.catch-phrase {
    position: relative;
    top: 10px;
    left: 160px;
    font-family: 'Dancing Script', cursive;
    transform: rotate(-10deg);
}

/* postDeck.twig */

.card-deck-wrapper {
    padding: 10px;
}

.card-deck {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.card-deck-title {
    text-align: center;
    padding-bottom: 5px;
}

.card {
    border: none;
    flex: 0 0 50% !important;
    transition-duration: 0.5s;
    transition-property: background-color, color;
    margin: 0 !important;
}

.card:hover :nth-child(1n+0) {
    color: white;
}

.card:hover {
    background-color: #0c5460;
}

.card-body {
    font-size: 0.75em;
}

.card-title {
    margin-bottom: 5px;
}

.card-text {
    margin: 10px 0;
}

.card-info {
    margin-top: 10px;
    font-size: 0.75em;
    color: burlywood;
}

.post-deck-more {
    text-align: center;
    height: available;
    font-size: 2em;
    border-radius: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.post-deck-more:hover {
    background-color: lightskyblue;
    color: white;
}

/* blogPost.twig */

.blogpost-content h2, .blogpost-content h3 {
    margin-top: 50px;
    margin-bottom: 25px;
}

.blogpost-classification, .blogpost-classification a {
    margin-bottom: 30px;
    color: burlywood;
}

.blogpost-excerpt {
    padding: 50px;
    background-color: #F5F7F6;
    color: #666;
    margin: 0 0 50px 0;
}

.comment-info-wrapper {
    display: flex;
}

.comment-response-wrapper {
    margin: 50px;
}

.comment-info {
    font-size: 0.75em;
    color: burlywood;
}

@media all and (max-width: 576px) {

    .content {
        width: 100%;
    }

    .card-deck {
        padding: 2px;
    }

    .catch-phrase {
        position: relative;
        top: 30px;
        left: 0;
    }
}