{% extends "layout.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block headerTitle %}
    <div class="site-heading">
        <h1>Nicolas Renvoisé</h1>
        <div class="subheading">
            <div>Développeur backend</div>
            <div class="catch-phrase">Le développeur qu'il vous faut !</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="home-list">

        {% include 'message.twig' %}

        {% if postsByCategory %}
            {% for categoryId, posts in postsByCategory %}
                <section class="home-category">
                    {% embed "home/postDeck.twig" %}
                        {% block deckTitle %}<a href="/blog?category-id={{ categoryId }}&amp;page=1">{{ categories[categoryId].getName }}</a>{% endblock %}
                    {% endembed %}
                </section>
            {% endfor %}
        {% else %}
            Aucune catégorie n'est diponible.
        {% endif %}
    </section>
{% endblock %}