{% extends "layout.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block header %}
    <h1>Mon super site</h1>
{% endblock %}

{% block content %}
    <section class="home-list">
        {% if postsByCategory %}
            {% for category, posts in postsByCategory %}
                <section class="home-category">
                    {% embed "home/postDeck.twig" %}
                        {% block deckTitle %}<a href="?page=blog">{{ category }}</a>{% endblock %}
                    {% endembed %}
                </section>
            {% endfor %}
        {% else %}
            Aucune catégorie n'est diponible.
        {% endif %}
    </section>
{% endblock %}