{% extends "layout.twig" %}

{# head #}
{% block title %}
    {{ post.getTitle }}
{% endblock %}

{# body #}
{% block headerTitle %}
    <div class="post-heading">
        <h1>{{ post.getTitle }}</h1>
        <span class="meta">{% include 'blog/postMeta.twig' %}</span>
    </div>
{% endblock %}

{% block content %}
    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    {# Classification #}
                    {% include 'blog/blogpostClassification.twig' %}

                    <div class="blogpost-excerpt">
                        {{ post.getExcerpt|raw }}
                    </div>

                    <div class="blogpost-content">
                        {{ post.getContent|raw }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}