
<div class="blogpost-classification">
    {# Category #}
    {% for category in categories %}
        <a class="post-nav-link" href="/blog?category-id={{ category.getId }}">{{ category.getName }}</a><span> </span>
    {% endfor %}
    <span> | </span>
    {# Tags #}
    {% for tag in post.getTags %}<a href="/blog?tag-id={{ tag.getId }}">#{{ tag.getName }}</a> {% endfor %}
</div>