{% extends "layout.twig" %}

{% block title %}
    {{ post.getTitle }}
{% endblock %}

{% block header %}
    <h1>Gestion des articles</h1>
{% endblock %}

{% block content %}
    <section class="blog-admin">
        <h2>Articles</h2>

        <p>
            <a class="btn" href="/admin/post-editor">Ajouter un article</a>
        </p>

        {% include "blog/message.twig" %}

        <table>
            <thead>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Etiquettes</th>
                <th>Commentaires</th>
                <th>Date de création</th>
            </tr>
            </thead>

            <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                        <form action="/admin/post-editor" method="post">
                            <input type="hidden" name="post-id" value="{{ post.getId }}">
                            <input class="admin-blogpost-title" type="submit" value="{{ post.getTitle }}">
                        </form>
                    </td>
                    <td>
                        coming soon...
                    </td>
                    <td>
                        coming soon...
                    </td>
                    <td>
                        coming soon...
                    </td>
                    <td>
                        {{ post.getCreationDate }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Etiquettes</th>
                <th>Commentaires</th>
                <th>Date de création</th>
            </tr>
            </tfoot>
        </table>
    </section>
{% endblock %}

{% block footer %}
    {% include "blog/adminFooter.twig" %}
{% endblock %}