
{% import 'macros.twig' as macros %}

<div class="comments-wrapper row">
    {% if comments %}
        <dl>
            {% for comment in comments %}
                {% if not comment.getParentId %}
                    {{ macros.showAComment(comment, getUser()) }}
                {% endif %}
            {% endfor %}
        </dl>
    {% else %}
        <p>Sans commentaire.</p>
    {% endif %}
</div>