{% if message %}
    <div id="message-wrapper" onclick="myApp.eraseTool.eraseElementFromEvent(event);">
        <p class="message"><span class="closing-cross">x</span> {{ message }}</p>
    </div>
{% endif %}