{% if message %}
    <div id="message-wrapper" onclick="myApp.hideElementFromId('message-wrapper');">
        <p class="message"><span class="closing-cross">X</span>{{ message }}</p>
    </div>
{% endif %}