<div id="post-tags-wrapper">
    <h3>Etiquettes</h3>

    <div class="post-editor-box" id="available-tags-wrapper">
        <ul id="available-tags">
            {% if availableTags %}
                {% for tag in availableTags %}
                    <li>
                        <input type="checkbox" name="tags[]" value="{{ tag }}" {% if tag in selectedTags %}checked{% endif %}>
                        <label class="available-tag" for="{{ tag }}">{{ tag }}</label>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    {# New tag #}
    <div class="post-editor-box" id="new-tag-wrapper">
        <label for="new-tag">Créer une étiquette</label><br>
        <input class="tag-input" type="text" id="new-tag">
        <button class="btn" id="new-tag-btn">+</button>
    </div>
</div>