<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
         {% block head %}
            <title>{% block title %}Bienvenue{% endblock %} - Mon super site</title>
            <link href="/css/style.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        {% endblock %}
    </head>
    
    <body>
        <nav>
            {% block navigation %}
                <nav>
                    <ul>
                        <li>
                            <a href="/home">Accueil</a>
                        </li>
                    </ul>
                </nav>
            {% endblock %}
        </nav>

        <header>
            {% block header %}
                <h1>Mon super site</h1>
            {% endblock %}
        </header>

        <section class="content">
            {% block content %}
                C'est un schtroumpf, il court, il tombe, il s'est fait un bleu.
            {% endblock %}
        </section>

        <footer>
            {% block footer %}
                <p><a href="/admin">Administration</a></p>
            {% endblock %}
        </footer>

        {% block scripts %}
            <script src="public/js/application.js"></script>
        {% endblock %}
    </body>
</html>