{% extends "layout.twig" %}

{% block title %}
    Page introuvable
{% endblock %}

{% block content %}
    <h2>Page introuvable...</h2>

    <p><a href="/home">Revenir à l'accueil</a></p>
{% endblock %}