{% extends "layout.twig" %}

{# head #}
{% block head %}
    {{ parent() }}
    <link href="/public/css/member-style.css" rel="stylesheet" />
{% endblock %}

{% block title %}
    Mot de passe perdu
{% endblock %}

{# body #}
{% block headerTitle %}
    <div class="site-heading">
        <h1>Mot de passe perdu</h1>
    </div>
{% endblock %}

{% block content %}
    <section id="password-recovery">

        {% include 'message.twig' %}

        <div class="form-wrapper">
            <form action="/password-lost?action=send-mail" method="post">
                <div class="form-row elements-wrapper">
                    <div class="form-group col-12">
                        <input class="form-control" type="email" id="email" name="email" placeholder="Votre email">
                    </div>
                    <div class="form-group col-12 text-center">
                        <input class="btn btn-primary" type="submit" value="Envoyer le lien par mail">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}