{% extends "member/memberLayout.twig" %}

{# head #}

{% block title %}
    Bienvenue
{% endblock %}

{# body #}

{% block headerTitle %}
    <div class="site-heading">
        <h1>Bienvenue !</h1>
    </div>
{% endblock %}

{% block content %}
    <section id="welcome">
        <p>
            Vous êtes inscrits. Vous pouvez maintenant écrire des commentaires sur les articles du site.
        </p>
        <p>
            Si vous souhaitez contribuer au site, vous pouvez devenir auteur et publier vos propres articles, ou juste me payer un café si vous n'êtes pas inspiré.
        </p>
        <div class="row">
            <div class="col-md-6 col-12">
                <a class="btn" href="#">Demander à être auteur</a>
            </div>
            <div class="col-md-6 col-12">
                <a class="btn" href="https://ko-fi.com/nicolas_renvoise" target="_blank">Me payer un café</a>
            </div>
        </div>
    </section>
{% endblock %}