{% extends "layout.twig" %}

{% block title %}
    Problème serveur
{% endblock %}

{% block content %}
    <h2>Le serveur a eu un soucis</h2>

    <p>
        {{ message }}
    </p>

    <p><a href="/home">Revenir à l'accueil</a></p>
{% endblock %}