{% extends "layout.twig" %}

{% block title %}
    Erreur du serveur
{% endblock %}

{% block content %}
    <h2>Erreur du serveur</h2>

    <p><a href="/home">Revenir à l'accueil</a></p>
{% endblock %}